@import '../../../theme/variables';

.current {
  height: 348px;
  color: #fff;

  &__main, &__panel {
    float: left;
    width: 100%;
    height: 348px;
  }

  &__main {
    background-image: linear-gradient(#3b5bdb,#59b6e6);
  }

  &__panel {
    background-color: #fff;
    color: $color-grey-dark;
  }

  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

.current__main-title {
  margin-top: 15px;
  text-align: center;
}

.current__main-location {
  text-transform: uppercase;
  font-size: $font-xs;
}

.current__main-time {
  color: hsla(0,0%,100%,.5);
}

.current__main-weather {
  padding: 2px 18px 26px 18px; 

  &-temp {
    font-size: 2.5rem;
    line-height: 1;
  }

  &-desc {
    text-transform: uppercase;
  }

  &-rest {
    padding-top: 5px;
  }
}

.current__main-video-link {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 6px 10px;
  font-size: $font-xs;
}

@media (min-width: $tablet-width) {
  .current {
    &__main {
      width: calc(100% - 150px);
    }
    
    &__panel {
      width: 140px;
      margin-left: 10px;
    }
  }
}