@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

:global {
  body, html {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
    width: 100%;
    height: 100%;
    font-size: $font-s;
  }
}

h2 {
  font-size: $font-s;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-primary;
  margin: 0;
}

.heading {
  padding: 1rem;
}

.main-container {
  max-width:1200px;
  margin: 0 auto;

  &__main, &__aside {
    width: 100%;
    float: left;
  }

  @include clearfix;
}

.main-container.grey {
  background-color: $color-grey-lighter;
}


.section-full {
  width: 100%;
  clear: both;
}

.header-wrapper {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: $tablet-width) {
  .main-container {
    &__main {
      width: calc(100% - 330px);
    }

    &__aside {
      width: 330px;
    }

    &__main, &__aside {
      padding: 5px 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-container {
    padding-top: 1rem;
  }

  h2 {
    font-size: $font-mx;
    color: $color-grey-dark;
  }
}
