@import '../../theme/variables';

.cityBar {
  background-color: $color-primary;
  height: 44px;
  width: 100%;
}

.cityBar__cities {
  width: 100%;
  display: flex;
}

.cityBar__city {
  height: 44px;
  width: 300px;
  display: none;
}

.cityBar__city:first-child {
  display: block;
}