@import '../../theme/variables';

.cityBar {
  background-color: $color-primary;
  height: 44px;
  width: 100%;
}

.cityBar__cities {
  width: 100%;
  overflow: hidden;
}

.cityBar__city {
  display: block;
  height: 44px;
  width: 300px;
  float: left;
  padding: 10px 15px;
  color: #fff;
  font-size: $font-xs;
  border-right: 1px solid #fff;
}